testing.ipynb
tags
*.tar.gz
*.tgz
*.tar
gcp*.txt
*clustering*.csv
*.log
*.pth
*.swp
*.simg
????-??-??
*-????-??-??
*-????-??-??__*
dall.log                                                                     
file.txt                                                                     
wf_file*
plant_reports                                                             
segmentation_pointclouds                                                  
makeflow.failed*                                                         
#slurm*                                                                      
slurm-*
wq-pool-*                                                                
worker*.sh
alignment
file.txt
.nfs*
nathan*
slurm-*
makeflow.failed.*
season*gcp*.txt
__pycache__
alignment/*
scanf
postprocessing_out/
individual_plants_out/
segmentation_pointclouds/
upload.sh
csv_splits/
azmet_cache/
env_output/
*indv_temps*
season10_multi_latlon_geno.geojson
tags
env_output
rnaseq_spectra/
season12_multi_latlon_geno_updated.geojson
Lettuce_Image_Stitching
bin2tif_out
edited_tifs
img_coords_out
my.vrt
multithresh.json
season12_multi_latlon_geno.geojson
test2
