testing.ipynb
*.tar.gz
*.tgz
gcp*.txt
*clustering*.csv
*.log
*.pth
*.swp
*.simg
????-??-??
*-????-??-??
*-????-??-??__*
dall.log                                                                     
file.txt                                                                     
wf_file*
plant_reports                                                             
segmentation_pointclouds                                                  
makeflow.failed*                                                         
slurm*                                                                      
slurm-*
wq-pool-*                                                                
worker.sh
alignment
file.txt
