testing.ipynb
*.tar.gz
*.tgz
*.tar
gcp*.txt
*clustering*.csv
*.log
*.pth
*.swp
*.simg
????-??-??
*-????-??-??
*-????-??-??__*
dall.log                                                                     
file.txt                                                                     
wf_file*
plant_reports                                                             
segmentation_pointclouds                                                  
makeflow.failed*                                                         
#slurm*                                                                      
slurm-*
wq-pool-*                                                                
worker*.sh
alignment
file.txt
.nfs*
nathan*
slurm-*
makeflow.failed.*
season*gcp*.txt
__pycache__
alignment/*
scanf
postprocessing_out/
individual_plants_out/
segmentation_pointclouds/
upload.sh
